* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.4em;
  background-image: url(/src/image/clouds-5879037_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}

h1 {
  margin-bottom: 5px;
  text-decoration: underline;
}

#quiz-container {
  border: 1px solid black;
  padding: 25px;
  border-radius: 20px;
  background-color: white;
  max-width: 800px;
  
}
#submit.container {
    margin-left: 35%;
}

#question {
  color: blue;
  padding: 15px;
  font-weight: bold;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 20px;
  margin-left: 38%;
  margin-bottom: 5%;
}

.feed {
  font-size: 1.2em;
}

.btn {
  font-size: 15px;
  border-radius: 7px;
  padding: 5px;
  border: none;
  color: green;
  font-weight: bold;
  margin-top: 5%;

  &:hover {
    background-color: rgb(88, 211, 88);
    color: white;
  }
}
